<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>CSOne</title>
 
  <link rel="stylesheet" href="lib/ng-grid/ng-grid.min.css"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css"/>
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <script>
      function getIEVersion() {
          var rv = -1;
          if (navigator.appName == 'Microsoft Internet Explorer') {
              var ua = navigator.userAgent;
              var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
              if (re.exec(ua) != null)
              rv = parseFloat(RegExp.$1);
          }
          else if(navigator.appName == 'Netscape'){
              var ua = navigator.userAgent;
              var re = new RegExp("Trident/.*rv:([0-9]{1,}[\.0-9]{0,})"); //for IE 11
              if (re.exec(ua) != null)
              rv = parseFloat(RegExp.$1);
          }
          return rv;
      }
      IEV = getIEVersion();
      if(IEV>=6&&IEV<9){
          window.location.href="http://google.com";  
      }else if(IEV>=9){
          document.documentElement.className+=' ie ie'+IEV;
      }
      //document.documentElement.className+=' ie'+IEV;
    </script>
</head>
<body>

  <div ng-view id="ngView"></div>
  
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/jquery/jquery-1.9.1.js"></script>
  <script src="lib/angular-1.2.25/angular.js"></script>
  <script src="lib/angular-1.2.25/i18n/angular-locale_ja.js"></script>
  <script src="lib/angular-1.2.25/angular-route.js"></script>
  <script src="lib/angular-1.2.25/angular-cookies.js"></script>
  <script src="lib/ng-grid/ng-grid-2.0.7.min.js"></script>
  
  <script src="lib/angular-1.2.25/angular-animate.min.js" ></script>
  <script src="lib/angular-1.2.25/angular-sanitize.min.js" ></script>
  
  <script src="lib/angular-ui/ui-bootstrap-tpls-0.12.0.min.js"></script> 
  
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
  <script src="js/modules/user/service.js"></script> 
  <script src="js/modules/user/controller.js"></script>
  <script src="js/modules/user/module.js"></script>
  
  <script src="js/modules/service/service.js"></script> 
  <script src="js/modules/service/controller.js"></script>
  <script src="js/modules/service/module.js"></script>
  
  <script src="js/modules/customer/service.js"></script> 
  <script src="js/modules/customer/controller.js"></script>
  <script src="js/modules/customer/module.js"></script>
  
  <script src="js/modules/staff/service.js"></script> 
  <script src="js/modules/staff/controller.js"></script>
  <script src="js/modules/staff/module.js"></script>
  
  <script src="js/modules/equipment/service.js"></script> 
  <script src="js/modules/equipment/controller.js"></script>
  <script src="js/modules/equipment/module.js"></script>
  
  <script src="js/modules/item/service.js"></script> 
  <script src="js/modules/item/controller.js"></script>
  <script src="js/modules/item/module.js"></script>
  
  <script src="js/modules/location/service.js"></script> 
  <script src="js/modules/location/controller.js"></script>
  <script src="js/modules/location/module.js"></script>
  
  <script src="js/modules/order/service.js"></script> 
  <script src="js/modules/order/controller.js"></script>
  <script src="js/modules/order/module.js"></script>
  
  <script src="js/modules/dataelement/service.js"></script> 
  <script src="js/modules/dataelement/controller.js"></script>
  <script src="js/modules/dataelement/module.js"></script>
  
  <script src="js/modules/variant/service.js"></script> 
  <script src="js/modules/variant/controller.js"></script>
  <script src="js/modules/variant/module.js"></script>

</body>
</html>
